<h2>Por País</h2>
<hr />

<div class="row">
  <div class="col">
    <app-country-input
      (enter)="search($event)"
      (debounce)="suggestions($event)"
      placeholder="Buscar por país..."
    ></app-country-input>
  </div>
</div>

<ul *ngIf="showSuggestions" class="list-group">
  <li
    *ngFor="let country of suggestedCountries"
    class="list-group-item list-group-item-action"
  >
    <a class="nav-link" [routerLink]="['/pais', country.alpha2Code]">
      {{ country.name }}
    </a>
  </li>
  <li
    class="list-group-item list-group-item-action"
    (click)="searchSuggested(query)"
  >
    <a class="nav-link">Buscar "{{ query }}"</a>
  </li>
</ul>
<hr />

<div *ngIf="hasError" class="alert alert-danger">
  No se encontró con el índice de búsqueda {{ query }}
</div>

<div *ngIf="!hasError" class="row">
  <div class="col">
    <app-country-table [countries]="countries"></app-country-table>
  </div>
</div>
